<div aria-label="register-component">
  <form
    (ngSubmit)="f.form.valid && youShallNotPassNullValues()"
    aria-label="form-register"
    *ngIf="!isSuccessful"
    #f="ngForm"
    novalidate
  >
    <h2 aria-label="title-register-component">Registrierung MitiApp</h2>
    <p aria-label="text-register" class="descriptionStyle">
      Bitte gebe deinen Vornamen, Nachnamen und Kürzel ein, um dich zu
      registrieren.
    </p>
    <table aria-label="table-register" class="tableStyle">
      <tr>
        <th>
          <label
            id="label-register-userName"
            name="label-register-userName"
            aria-label="label-register-userName"
            >Kürzel</label
          >
        </th>
      </tr>
      <tr>
        <td>
          <input
            id="input-register-userName"
            name="input-register-userName"
            aria-label="input-register-userName"
            type="text"
            placeholder="Kürzel"
            [(ngModel)]="userName"
          />
        </td>
      </tr>
      <tr>
        <th>
          <label
            id="label-register-email"
            name="label-register-email"
            aria-label="label-register-email"
            >Email</label
          >
        </th>
      </tr>
      <tr>
        <td>
          <input
            id="input-register-email"
            name="input-register-email"
            aria-label="input-register-email"
            type="text"
            placeholder="Email"
            [(ngModel)]="email"
          />
        </td>
      </tr>
      <tr>
        <th>
          <label
            id="label-register-password"
            name="label-register-password"
            aria-label="label-register-password"
            >Passwort</label
          >
        </th>
      </tr>
      <tr>
        <td>
          <input
            id="input-register-password"
            name="input-register-password"
            aria-label="input-register-password"
            type="password"
            placeholder="Passwort"
            [(ngModel)]="password"
          />
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <button aria-label="button-cancel" type="submit" routerLink="/home">
            Abbrechen
          </button>
          <button aria-label="button-register" type="submit">
            Registrieren
          </button>
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <a
            aria-label="button-already-registered"
            type="submit"
            routerLink="/login"
            >Bereits registriert? Dann klicke hier, um dich anzumelden.</a
          >
        </td>
      </tr>
      <br />
      <tr class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Registrierung war nicht erfolgreich
        <br />
        <br />
        {{
          errorMessage
        }}
      </tr>
    </table>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Erfolgreich registriert
  </div>
  <div aria-label="alert-message-null-values">{{ alertNull }}</div>
  <div aria-label="alert-message-invalid-input-userName">
    {{ alertUserName }}
    <div aria-label="alert-message-invalid-input-email">
      {{ alertEmail }}
    </div>
    <div aria-label="alert-message-invalid-input-password">
      {{ alertPassword }}
    </div>
  </div>
</div>
