<div
  aria-label="create-lunch-table-component"
  *ngIf="isLoggedIn; else loggedOut"
>
  <app-create-place></app-create-place>
  <h2 aria-label="title-create-lunch-table-component">
    Lunch-Verabredung anlegen
  </h2>
  <p class="descriptionStyle">
    Hier kannst du dich mit deinen Kolleg*innen zum Lunch verabreden. <br />
    Um eine Lunch-Verabredung anzulegen, gib bitte deinen Namen von Hand oder
    über das obere Drop-Down-Menü ein. <br />
    Anschließend gebe ein Lokal ein oder wähle ein bereits vorhandenes Lokal
    über das untere Drop-Down-Menü aus. <br />
    Zuletzt wähle bitte eine Uhrzeit und einen Tag aus, an dem du dich
    verabreden möchtest und bestätige deine Eingabe über den Button "Anlegen".
    <br />
    Deine Lunch-Verabredung wird nun in der Übersicht unter der Eingabemaske
    angezeigt. <br />
    Über den "Einladen" Button kannst du Kolleg*innen zu deiner
    Lunch-Verabredung einladen. <br />
    Über den "Teilnehmen" Button kannst du an einer Lunch-Verabredung deiner
    Kolleg*innen teilnehmen. <br />
    Über den "Bearbeiten" Button gelangst du in die "Lunch-Verabredung
    bearbeiten" Übersicht.
  </p>
  <br />
  <div aria-label="create-lunch-table-input-form">
    <form
      aria-label="form-create-lunch-table"
      (ngSubmit)="youShallNotPassNullValues()"
    >
      <table class="tableStyle">
        <tr>
          <th>
            <label
              id="label-firstName"
              name="label-firstName"
              aria-label="label-firstName"
              >Vorname</label
            >
          </th>
          <th>
            <label
              id="label-lastName"
              name="label-lastName"
              aria-label="label-lastName"
              >Nachname</label
            >
          </th>
          <th>
            <label
              id="label-abbreviation"
              name="label-abbreviation"
              aria-label="label-abbreviation"
              >Kürzel</label
            >
          </th>
        </tr>
        <tr>
          <td>
            <input
              id="input-new-firstName"
              name="input-new-firstName"
              aria-label="input-new-firstName"
              type="text"
              placeholder="Vorname"
              [(ngModel)]="newEmployee.firstName"
            />
          </td>
          <td>
            <input
              id="input-new-lastName"
              name="input-new-lastName"
              aria-label="input-new-lastName"
              type="text"
              placeholder="Nachname"
              [(ngModel)]="newEmployee.lastName"
            />
          </td>
          <td>
            <input
              id="input-new-abbreviation"
              name="input-new-abbreviation"
              aria-label="input-new-abbreviation"
              type="text"
              placeholder="Kürzel"
              [(ngModel)]="newEmployee.abbreviation"
            />
          </td>
          <td>
            <select
              id="select-box-employee"
              name="select-box-employee"
              aria-label="select-box-employee"
              #employee
              (change)="selectEmployee(employee.value)"
            >
              <option value="none" selected disabled hidden>
                Kolleg*innen
              </option>
              <option *ngFor="let employee of employees">
                <div id="div-employee-firstName">
                  {{ employee.firstName.value }},
                </div>
                <div>{{ employee.lastName.value }},</div>
                <div>{{ employee.abbreviation.value }}</div>
              </option>
            </select>
            <select
              id="select-box-firstName"
              name="select-box-firstName"
              aria-label="select-box-firstName"
              #employeeFirstName
              (change)="selectFirstName(employeeFirstName.value)"
            >
              <option value="none" selected disabled hidden>Vorname</option>
              <option *ngFor="let employee of employees">
                {{ employee.firstName.value }}
              </option>
            </select>
            <select
              id="select-box-lastName"
              name="select-box-lastName"
              aria-label="select-box-lastName"
              #employeeLastName
              (change)="selectLastName(employeeLastName.value)"
            >
              <option value="none" selected disabled hidden>Nachname</option>
              <option *ngFor="let employee of employees">
                {{ employee.lastName.value }}
              </option>
            </select>
            <select
              id="select-box-abbreviation"
              name="select-box-abbreviation"
              aria-label="select-box-abbreviation"
              #employeeAbbreviation
              (change)="selectAbbreviation(employeeAbbreviation.value)"
            >
              <option value="none" selected disabled hidden>Kürzel</option>
              <option *ngFor="let user of users">
                {{ user.username }}
              </option>
            </select>
            <button
              aria-label="button-add"
              type="submit"
              [disabled]="isDisabled"
              (click)="addEmployee()"
            >
              Hinzufügen
            </button>
          </td>
        </tr>
        <tr *ngFor="let employee of employeeArray; let i = index">
          <td>
            <input
              id="input-firstName"
              name="input-firstName"
              aria-label="input-firstName"
              type="text"
              placeholder="Vorname"
              [(ngModel)]="employee.firstName"
            />
          </td>
          <td>
            <input
              id="input-lastName"
              name="input-lastName"
              aria-label="input-lastName"
              type="text"
              placeholder="Nachname"
              [(ngModel)]="employee.lastName"
            />
          </td>
          <td>
            <input
              id="input-abbreviation"
              name="input-abbreviation"
              aria-label="input-abbreviation"
              type="text"
              placeholder="Kürzel"
              [(ngModel)]="employee.abbreviation"
            />
          </td>
          <td>
            <button
              aria-label="button-remove"
              type="submit"
              (click)="removeEmployee(i)"
            >
              Entfernen
            </button>
          </td>
        </tr>
        <tr>
          <th>
            <label
              id="label-locality"
              name="label-locality"
              aria-label="label-locality"
              >Lokal</label
            >
          </th>
          <th>
            <label
              id="label-location"
              name="label-location"
              aria-label="label-location"
              >Ort</label
            >
          </th>
          <th>
            <label
              id="label-street"
              name="label-street"
              aria-label="label-street"
              >Straße</label
            >
          </th>
        </tr>
        <tr>
          <td>
            <input
              id="input-locality"
              name="input-locality"
              aria-label="input-locality"
              type="text"
              placeholder="Lokal"
              [(ngModel)]="locality"
            />
          </td>
          <td>
            <input
              id="input-location"
              name="input-location"
              aria-label="input-location"
              type="text"
              placeholder="Ort"
              [(ngModel)]="location"
            />
          </td>
          <td>
            <input
              id="input-street"
              name="input-street"
              aria-label="input-street"
              type="text"
              placeholder="Straße"
              [(ngModel)]="street"
            />
          </td>
          <td>
            <!--<select
              id="select-box-place"
              name="select-box-place"
              aria-label="select-box-place"
              *ngFor="let place of places"
              (change)="selectPlace(place)"
            >
              <option value="none" selected disabled hidden>Lokale</option>
              <option *ngFor="let place of places">
                {{ place.locality.value }}, {{ place.location.value }}, {{ place.street.value }}
              </option>
            </select>-->
            <!--<select
              id="select-box-place"
              name="select-box-place"
              aria-label="select-box-place"
              (change)="selectPlaceAll(placeObject.locality.value, placeObject.locality.value, placeObject.street.value)"
            >
              <option value="none" selected disabled hidden>Lokale</option>
              <option *ngFor="let place of places">
                {{ place.locality.value }}, {{ place.location.value }}, {{ place.street.value }}
              </option>
            </select>-->
            <select
              id="select-box-place"
              name="select-box-place"
              aria-label="select-box-place"
              #place
              (change)="selectPlace(place.value)"
            >
              <option value="none" selected disabled hidden>Lokale</option>
              <option *ngFor="let place of places">
                {{ place.locality.value }}, {{ place.location.value }},
                {{ place.street.value }},
              </option>
            </select>
            <select
              id="select-box-locality"
              name="select-box-locality"
              aria-label="select-box-locality"
              #placeLocality
              (change)="selectLocality(placeLocality.value)"
            >
              <option value="none" selected disabled hidden>Lokal</option>
              <option *ngFor="let place of places">
                {{ place.locality.value }}
              </option>
            </select>
            <select
              id="select-box-location"
              name="select-box-location"
              aria-label="select-box-location"
              #placeLocation
              (change)="selectLocation(placeLocation.value)"
            >
              <option value="none" selected disabled hidden>Ort</option>
              <option *ngFor="let place of places">
                {{ place.location.value }}
              </option>
            </select>
            <select
              id="select-box-street"
              name="select-box-street"
              aria-label="select-box-street"
              #placeStreet
              (change)="selectStreet(placeStreet.value)"
            >
              <option value="none" selected disabled hidden>Straße</option>
              <option *ngFor="let place of places">
                {{ place.street.value }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <th>
            <label id="label-time" name="label-time" aria-label="label-time"
              >Uhrzeit</label
            >
          </th>
          <th>
            <label id="label-date" name="label-date" aria-label="label-date"
              >Datum</label
            >
          </th>
        </tr>
        <tr>
          <td>
            <input
              id="input-time"
              name="input-time"
              aria-label="input-time"
              type="time"
              placeholder="time"
              [(ngModel)]="time"
            />
          </td>
          <td>
            <input
              id="input-date"
              name="input-date"
              aria-label="input-date"
              type="date"
              placeholder="date"
              [(ngModel)]="date"
            />
          </td>
          <td>
            <button
              class="buttonStyle"
              aria-label="button-create"
              type="submit"
            >
              Anlegen
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <br />
  <div id="alerts" aria-label="alerts">
    <div aria-label="alert-message-no-more-employees">
      {{ alertNoMoreEmployees }}
    </div>
    <div aria-label="alert-message-null-values">{{ alertNull }}</div>
    <div aria-label="alert-message-invalid-input-firstName">
      {{ alertFirstName }}
    </div>
    <div aria-label="alert-message-invalid-input-lastName">
      {{ alertLastName }}
    </div>
    <div aria-label="alert-message-invalid-input-abbreviation">
      {{ alertAbbreviation }}
    </div>
    <div aria-label="alert-message-invalid-input-locality">
      {{ alertLocality }}
    </div>
    <div aria-label="alert-message-invalid-input-location">
      {{ alertLocation }}
    </div>
    <div aria-label="alert-message-invalid-input-street">{{ alertStreet }}</div>
    <div aria-label="alert-message-invalid-input-time">{{ alertTime }}</div>
    <div aria-label="alert-message-invalid-input-date">{{ alertDate }}</div>
    <div aria-label="alert-message-invalid-input-miti-already-exists">
      {{ alertMitiAlreadyExists }}
    </div>
    <div aria-label="alert-message-invalid-input-employee-not-registered">
      {{ alertEmployeeNotRegistered }}
    </div>
  </div>
</div>
<ng-template #loggedOut> Bitte einloggen. </ng-template>
