<table>
  <tr>
    <th>Restaurant</th>
    <th>Ort</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Uhrzeit</th>
  </tr>
  <tr *ngFor="let miti of mities">
    <td>{{ miti.locality }}</td>
    <td>{{ miti.location }}</td>
    <td>{{ miti.firstname }}</td>
    <td>{{ miti.lastname }}</td>
    <td>{{ miti.time }}</td>
  </tr>
</table>
<br>
<div>
  <h1>User list</h1>

  <ul class="userList" *ngIf="users">
    <li class="userItem" *ngFor="let user of users">
      <p class="first">{{ user.first }}</p>
      <p class="last">{{ user.last }}</p>
    </li>
  </ul>
</div>
