<table>
  <tr>
    <th>Restaurant</th>
    <th>Ort</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Uhrzeit</th>
  </tr>
  <tr *ngFor="let miti of mities">
    <td>{{ miti.place.locality.locality }}</td>
    <td>{{ miti.place.location.location }}</td>
    <td>{{ miti.employee.firstName.firstName }}</td>
    <td>{{ miti.employee.lastName.lastName }}</td>
    <td>{{ miti.time }}</td>
  </tr>
</table>
<br>
<div>
  <form #f="ngForm" (ngSubmit)="submitEmployee(f)">
    <input id="firstName" placeholder="Vorname" name="firstName" type="text" ngModel/>
    <input id="lastName" placeholder="Nachname" name="lastName" type="text" ngModel/>
    <button type="submit">Speichern</button>
  </form>
</div>
