<div aria-label="login-component">
  <form
    *ngIf="!isLoggedIn"
    aria-label="form-login"
    (ngSubmit)="f.form.valid && signInEmployee()"
    #f="ngForm"
    novalidate
  >
    <h2 aria-label="title-login-component">Login MitiApp</h2>
    <p aria-label="text-login" class="descriptionStyle">
      Bitte gebe dein Kürzel und Passwort ein, um dich anzumelden.
    </p>
    <table aria-label="table-login" class="tableStyle">
      <tr>
        <th>
          <label
            id="label-login-abbreviation"
            name="label-login-abbreviation"
            aria-label="label-login-abbreviation"
            >Kürzel (Benutzername)</label
          >
        </th>
      </tr>
      <tr>
        <td>
          <input
            id="input-login-abbreviation"
            name="input-login-abbreviation"
            aria-label="input-login-abbreviation"
            type="text"
            placeholder="Kürzel"
            [(ngModel)]="abbreviation"
          />
        </td>
      </tr>
      <tr>
        <th>
          <label
            id="label-login-password"
            name="label-login-password"
            aria-label="label-login-password"
            >Passwort</label
          >
        </th>
      </tr>
      <tr>
        <td>
          <input
            id="input-login-password"
            name="input-login-password"
            aria-label="input-login-password"
            type="password"
            placeholder="Passwort"
            [(ngModel)]="password"
          />
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <button aria-label="button-cancel" type="submit" routerLink="/home">
            Abbrechen
          </button>
          <button aria-label="button-login" type="submit">Anmelden</button>
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <a
            aria-label="button-not-yet-registered"
            type="submit"
            routerLink="/register"
            >Noch nicht registriert? Dann klicke hier, um dich zu
            registrieren.</a
          >
        </td>
      </tr>
      <br />
      <tr>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login fehlgeschlagen
            <br />
            <br />
            {{ errorMessage }}
          </div>
        </div>
      </tr>
      <tr>
        <div class="alert alert-success" *ngIf="isLoggedIn">
          Eingeloggt als {{ users }} und hat die Rolle {{ roles }}.
        </div>
      </tr>
    </table>
  </form>
</div>
