<app-createmiti></app-createmiti>
<br />
<div aria-label="lunch-table-list">
  <table>
    <tr>
      <th aria-label="lunch-table-id-table-header">ID</th>
      <th aria-label="lunch-table-locality-table-header">Restaurant</th>
      <th aria-label="lunch-table-location-table-header">Ort</th>
      <th aria-label="lunch-table-firstName-table-header">Vorname</th>
      <th aria-label="lunch-table-lastName-table-header">Nachname</th>
      <th aria-label="lunch-table-time-table-header">Uhrzeit</th>
      <th aria-label="lunch-table-date-table-header">Datum</th>
    </tr>
    <tr aria-label="lunch-table-row" *ngFor="let miti of mitis">
      <td aria-label="lunch-table-id">
        {{ miti.mitiId }}
      </td>
      <td aria-label="lunch-table-locality">
        {{ miti.place.locality.value }}
      </td>
      <td aria-label="lunch-table-location">
        {{ miti.place.location.value }}
      </td>
      <td aria-label="lunch-table-firstName">
        {{ miti.employee.firstName.value }}
      </td>
      <td aria-label="lunch-table-lastName">
        {{ miti.employee.lastName.value }}
      </td>
      <td aria-label="lunch-table-time">
        {{ miti.time.value }}
      </td>
      <td aria-label="lunch-table-date">
        {{ miti.date.value }}
      </td>
      <td>
        <button
          aria-label="button-edit"
          type="submit"
          routerLink="/update/{{ miti.mitiId }}"
        >
          Bearbeiten
        </button>
      </td>
    </tr>
  </table>
</div>
