<div>
  <form #f="ngForm" (ngSubmit)="submitMiTi(f)">
    <input
      id="locality"
      placeholder="Lokal"
      name="locality"
      type="text"
      ngModel
    />
    <input
      id="location"
      placeholder="Ort"
      ntype="text"
      ngModel
    />
    <br />
    <input
      id="firstName"
      placeholder="Vorname"
      name="firstName"
      type="text"
      ngModel
    />
    <input
      id="lastName"
      placeholder="Nachname"
      name="lastName"
      type="text"
      ngModel
    />
    <br />
    <input id="time" placeholder="Uhrzeit" name="time" type="time" ngModel />
    <button type="submit">Speichern</button>
  </form>
</div>
<table>
  <tr>
    <th>Restaurant</th>
    <th>Ort</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Uhrzeit</th>
  </tr>
  <tr *ngFor="let miti of mities">
    <td *ngFor="let placeShow of miti.place">
      {{ placeShow.location.location }}
    </td>
    <td *ngFor="let placeShow of miti.place">
      {{ placeShow.locality.locality }}
    </td>
    <td *ngFor="let employeeShow of miti.employee">
      {{ employeeShow.firstName.firstName }}
    </td>
    <td *ngFor="let employeeShow of miti.employee">
      {{ employeeShow.lastName.lastName }}
    </td>
    <td>{{ miti.time }}</td>
  </tr>
</table>
