<div>
  <form #f="ngForm" (ngSubmit)="submitMiTi()">
    <input
      id="locality"
      placeholder="Lokal"
      name="locality"
      type="text"
      [(ngModel)]="locality"
    />
    <input
      id="location"
      placeholder="Ort"
      name="location"
      type="text"
      [(ngModel)]="location"
    />
    <br />
    <input
      id="firstName"
      placeholder="Vorname"
      name="firstName"
      type="text"
      [(ngModel)]="firstName"
    />
    <input
      id="lastName"
      placeholder="Nachname"
      name="lastName"
      type="text"
      [(ngModel)]="lastName"
    />
    <br />
    <input
      id="time"
      placeholder="Uhrzeit"
      name="time"
      type="time"
      [(ngModel)]="time"
    />
    <button type="submit">Speichern</button>
  </form>
</div>
<table>
  <tr>
    <th>Restaurant</th>
    <th>Ort</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Uhrzeit</th>
  </tr>
  <tr *ngFor="let miti of mities">
    <td>
      {{ miti.place.location.location }}
    </td>
    <td>
      {{ miti.place.locality.locality }}
    </td>
    <td>
      {{ miti.employee.firstName.firstName }}
    </td>
    <td>
      {{ miti.employee.lastName.lastName }}
    </td>
    <td>{{ miti.time }}</td>
  </tr>
</table>
