<div>
  <h2>Miti anlegen</h2>
  <form (ngSubmit)="youShallNotPass()">
    <input
      id="locality"
      name="locality"
      aria-label="locality"
      type="text"
      data-testid="locality"
      placeholder="Lokal"
      [(ngModel)]="locality"
    />
    <input
      id="location"
      name="location"
      aria-label="location"
      type="text"
      data-testid="location"
      placeholder="Ort"
      [(ngModel)]="location"
    />
    <br />
    <input
      id="firstName"
      name="firstName"
      aria-label="firstName"
      type="text"
      data-testid="firstName"
      placeholder="Vorname"
      [(ngModel)]="firstName"
    />
    <input
      id="lastName"
      name="lastName"
      aria-label="lastName"
      type="text"
      data-testid="lastName"
      placeholder="Nachname"
      [(ngModel)]="lastName"
    />
    <br />
    <input
      id="time"
      name="time"
      aria-label="time"
      type="time"
      data-testid="time"
      placeholder="time"
      [(ngModel)]="time"
    />
    <button data-testid="anlegen" aria-label="anlegen" type="submit">
      Anlegen
    </button>
    <br />
    <div data-testid="alert">{{ nullAlert }}</div>
  </form>
</div>
<div data-testid="mitiList" aria-label="mitiList">
  <table>
    <tr>
      <th>ID</th>
      <th>Restaurant</th>
      <th>Ort</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Uhrzeit</th>
    </tr>
    <tr *ngFor="let miti of mitis">
      <td>
        {{ miti.mitiId }}
      </td>
      <td>
        {{ miti.place.locality.value }}
      </td>
      <td>
        {{ miti.place.location.value }}
      </td>
      <td>
        {{ miti.employee.firstName.value }}
      </td>
      <td>
        {{ miti.employee.lastName.value }}
      </td>
      <td>{{ miti.time.value }}</td>
      <td>
        <button type="submit" routerLink="/edit/{{ miti.mitiId }}">
          Bearbeiten
        </button>
      </td>
    </tr>
  </table>
</div>
