<div>
  <form (ngSubmit)="submitLunch()">
    <input [(ngModel)]="locality" name="locality" placeholder="Lokal" type="text"/>
    <input [(ngModel)]="location" name="location" placeholder="Ort" type="text"/>
    <br>
    <input [(ngModel)]="firstname" placeholder="Vorname" name="firstname" type="text"/>
    <input [(ngModel)]="lastname" placeholder="Nachname" name="lastname" type="text"/>
    <br>
    <input [(ngModel)]="time" name="time" type="time" />
    <button name="createlunch" type="submit">Speichern</button>
  </form>
</div>
