<div>
  <h2 aria-label="lunch-table-update">Mittagstisch bearbeiten</h2>
  <form aria-label="form-input-update" (ngSubmit)="youShallNotPass()">
    <input
      id="locality"
      name="locality"
      aria-label="input-locality"
      type="text"
      placeholder="Lokal"
      [(ngModel)]="mitis.place.locality.value"
    />
    <input
      id="location"
      name="location"
      aria-label="input-location"
      type="text"
      placeholder="Ort"
      [(ngModel)]="mitis.place.location.value"
    />
    <br />
    <input
      id="firstName"
      name="firstName"
      aria-label="input-firstName"
      type="text"
      placeholder="Vorname"
      [(ngModel)]="mitis.employee.firstName.value"
    />
    <input
      id="lastName"
      name="lastName"
      aria-label="input-lastName"
      type="text"
      placeholder="Nachname"
      [(ngModel)]="mitis.employee.lastName.value"
    />
    <br />
    <input
      id="time"
      name="time"
      aria-label="input-time"
      type="time"
      placeholder="time"
      [(ngModel)]="mitis.time.value"
    />
    <input
      id="input-date"
      name="input-date"
      aria-label="input-date"
      type="date"
      placeholder="date"
      [(ngModel)]="mitis.date.value"
    />
    <button aria-label="button-update" type="submit">Speichern</button>
    <button aria-label="button-cancel" type="submit" (click)="returnToView()">
      Abbrechen
    </button>
    <br />
    <div aria-label="alert-null">{{ alertNull }}</div>
  </form>
  <br />
  <div aria-label="lunch-table-list">
    <table>
      <tr>
        <th aria-label="lunch-table-id-table-header">ID</th>
        <th aria-label="lunch-table-locality-table-header">Restaurant</th>
        <th aria-label="lunch-table-location-table-header">Ort</th>
        <th aria-label="lunch-table-firstName-table-header">Vorname</th>
        <th aria-label="lunch-table-lastName-table-header">Nachname</th>
        <th aria-label="lunch-table-time-table-header">Uhrzeit</th>
        <th aria-label="lunch-table-date-table-header">Datum</th>
      </tr>
      <tr>
        <td>{{ mitis.mitiId }}</td>
        <td>{{ mitis.place.locality.value }}</td>
        <td>{{ mitis.place.location.value }}</td>
        <td>{{ mitis.employee.firstName.value }}</td>
        <td>{{ mitis.employee.lastName.value }}</td>
        <td>{{ mitis.time.value }}</td>
        <td>{{ mitis.date.value }}</td>
      </tr>
    </table>
  </div>
</div>
<br />
<app-deletemiti></app-deletemiti>
